<% if email.read == false %>
<tr id="email_<%= email.id%>">
<th scope="row"><small><strong><%=email.created_at.time.strftime("%-d/%-m/%y à %H:%M") %></strong></small></th>
<td id="<%=email.id%>" class="text-center">
  <%= link_to email.object, email_path(email.id), class: "font-weight-bold text-dark", :remote => :true %>
</td>
</tr>
<%else%>
<tr id="email_<%= email.id%>">
<th scope="row"><small><%=email.created_at.time.strftime("%-d/%-m/%y à %H:%M") %></small></th>
<td id="<%=email.id%>" class="text-center">
<%= link_to email.object, email_path(email.id), class: "text-dark", :remote => :true %>
</td>

</tr>
<% end %>
