
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h5>Créer une tâche</h5><hr>
          <%= form_tag(tasks_path, method: :post, class: "form", remote: true) do %>
              <div class="form-group">
                  <%= label_tag "Titre de la tâche", nil, class: "form-label" %>
                  <%= text_field_tag :title, nil, class: "form-control", placeholder: "Appeler la banque" %>
              </div>
              <div class="form-group">
                  <%= label_tag "Deadline", nil, class: "form-label" %>
                  <%= date_field_tag :deadline, nil, class: "form-control" %>

              </div>

              <div class="text-center">
                  <%= submit_tag("Ajouter la tâche à ma liste", class: "btn btn-start-order") %>
              </div>
          <%end%>
      </div>
  </div>
